<section class="main_fold">
   <div class="container">
    <h1 class="main_heading">
      stock keeping reimagined 
    </h1>
    <p class="sell_out">
      we help you keep stock of your every transaction, so that you can just focus  sales.
    </p>
    <button class="learn_more">learn more</button>
   </div>
</section>
<section class="second_fold">
  <h2 class="step_instruction_heading">Easy and fast steps to take, to have your records safe and secure</h2>
  <div class="steps">
    <ol>
      <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati quasi quos aliquam. Ducimus laboriosam hic molestiae at veritatis maiores neque explicabo sit eaque. Harum sequi molestiae totam, voluptates accusamus cupiditate?</li>
      <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati quasi quos aliquam. Ducimus laboriosam hic molestiae at veritatis maiores neque explicabo sit eaque. Harum sequi molestiae totam, voluptates accusamus cupiditate?</li>
      <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati quasi quos aliquam. Ducimus laboriosam hic molestiae at veritatis maiores neque explicabo sit eaque. Harum sequi molestiae totam, voluptates accusamus cupiditate?</li>
      <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati quasi quos aliquam. Ducimus laboriosam hic molestiae at veritatis maiores neque explicabo sit eaque. Harum sequi molestiae totam, voluptates accusamus cupiditate?</li>
      <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati quasi quos aliquam. Ducimus laboriosam hic molestiae at veritatis maiores neque explicabo sit eaque. Harum sequi molestiae totam, voluptates accusamus cupiditate?</li>
      <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati quasi quos aliquam. Ducimus laboriosam hic molestiae at veritatis maiores neque explicabo sit eaque. Harum sequi molestiae totam, voluptates accusamus cupiditate?</li>
    </ol>
  </div>
</section>

<section class="third_fold">
   <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate ea accusamus voluptatum suscipit perspiciatis est quasi labore, ab adipisci consequatur, id inventore quos eaque nobis dignissimos dolorem velit fugit tempore?
   </p>
</section>